<style>
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fes{
    background-color: hsl(212, 45%, 89%);
    width: 90%;
    height: 500px;
    border-radius: 10px;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sec{
    height: 100px;
    width: 200px;
    border-radius: 15px;
    background-color: white;
    /* justify-content: center; */
    /* margin: auto; */

}
/* #fin{
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100px;
    width: 200px;
    margin: auto;
    padding: 200px 100px

} */
</style>